@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
#root {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  display: grid;
  place-items: center;
  font-family: 'Space Mono';
  font-weight: 700;
  display: grid;
  place-items: center;
  background-color: #c5e4e7; }

.App {
  display: grid;
  place-items: center; }
  .App .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1.4;
    color: #00494d; }

main {
  background-color: white;
  padding: 1.4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 10px; }
  main .container--input {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 1em; }
    main .container--input form {
      display: flex;
      flex-flow: column nowrap; }
      main .container--input form label {
        color: #5e7a7d;
        margin-bottom: 5px; }
      main .container--input form input {
        border: none;
        background-color: #f4fafa;
        border-radius: 4px;
        text-align: right;
        font-family: inherit;
        font-weight: 700;
        font-size: 1.5em;
        padding-right: 10px;
        color: #00494d; }
    main .container--input .tip-button {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5em; }
      main .container--input .tip-button button {
        padding: 5px;
        font-size: 1.2em;
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: inherit;
        background-color: #00494d;
        color: #f4fafa; }
      main .container--input .tip-button .custom-button {
        background-color: #f4fafa;
        color: #5e7a7d;
        width: 100%;
        border: none;
        border-radius: 4px;
        outline: none;
        text-align: center;
        padding: 0;
        font-size: 1.4em;
        font-family: inherit;
        font-weight: inherit; }
        main .container--input .tip-button .custom-button:focus {
          color: #00494d; }
  main .container--output {
    background-color: #00494d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #c5e4e7;
    height: 100%; }
    main .container--output .output-field {
      padding: 1.7em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1; }
      main .container--output .output-field .output-content {
        display: flex;
        justify-content: space-between;
        line-height: 1.5; }
        main .container--output .output-field .output-content .output--label {
          display: flex;
          flex-direction: column; }
          main .container--output .output-field .output-content .output--label span {
            color: #7f9c9f;
            font-size: 0.8em; }
        main .container--output .output-field .output-content .output--amount {
          color: #26c0ab;
          font-size: 1.8em; }
    main .container--output button {
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0.5em 0;
      margin: 1em;
      background-color: #26c0ab;
      font-family: inherit;
      font-weight: inherit;
      font-size: 1.4em;
      color: #00494d; }

@media only screen and (max-width: 375px) {
  .App {
    width: 100%;
    height: 100vh; }
    .App .logo {
      height: 15vh; }
    .App main {
      height: 85vh;
      border-radius: 15px 15px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap; }
      .App main .container--input,
      .App main .container--output {
        width: 100%;
        height: 50%;
        border-radius: 15px; }
      .App main .container--input {
        margin-bottom: 2em; } }

@media only screen and (min-width: 376px) {
  main {
    margin-top: 1em;
    width: 100%;
    max-width: 600px;
    border-radius: 20px; }
    main .container--input,
    main .container--output {
      border-radius: 15px; }
    main .container--input .tip-button {
      grid-template-columns: 1fr 1fr 1fr; }
    main .container--output {
      margin-left: 1em; } }
