@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --strong-cyan: hsl(172, 67%, 45%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112vh;
  background-color: var(--light-grayish-cyan);
}

input, button {
  font-family: "Space Mono", sans-serif, monospace;
  font-size: 1.5em;
  padding: 0.2em;
}

section {
  margin: 0.5em 0;
}

.App {
  font-family: "Space Mono", sans-serif, monospace;
  font-weight: 700;
  display: grid;
  height: 112vh;
  grid-template-rows: 12vh 1fr;
}

.App .logo {
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  place-self: center;
  height: 60px;
}

.App h1 {
  font-size: 1.3em;
  letter-spacing: 5px;
}

.container {
  background-color: var(--white);
  border-radius: 20px 20px 0 0;
  width: 100vw;
  padding: 2em ;
  height: 100%;
  color: var(--dark-grayish-cyan);
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* justify-content: space-around; */
  display: grid;
}

.container *:last-child {
  flex-grow: 1;
}

.tip-button-container {
  /* margin: 8px 0; */
}

.tip-button {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  grid-gap: 0.6em;
  margin-top: 8px;
}

.output-container {
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 1em;
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 0.7em;
}

.output-container > * {
  /* margin: 0.2em 0; */
}


@media only screen and (min-width: 376px) {
  body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
  }

  section {
    margin: 0;
  }

  .App {
    height: 100%;
  }

  .container {
    width: 100%;
    padding: 1em;
    max-width: 700px;
    height: fit-content;
    border-radius: 20px;
    grid-gap: 1em;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    grid-template-areas: 
      "bill output"
      "tip output"
      "person output";
  }

  .bill {
    grid-area: bill;
  }

  .person {
    grid-area: person;
  }

  .output-container {
    grid-area: output;
    height: 100%;
  }

  .output-container > * {
    margin: 0;
  }

}
